@font-face {
  font-family: 'Apercu Pro';
  src: url('../fonts/ApercuPro-Regular.woff2') format('woff2'),
    url('../fonts/ApercuPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('../fonts/ApercuPro-Medium.woff2') format('woff2'),
    url('../fonts/ApercuPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
