h1,
.h1 {
  margin-bottom: 0;
  font-size: 68px;
  font-weight: 500;

  @include media-breakpoint-down(lg) {
    font-size: 44px;
  }

  @include media-breakpoint-down(md) {
    font-size: 36px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 30px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 26px;
  }
}

h2,
.h2 {
  margin-bottom: 0;
  font-size: 44px;
  font-weight: 500;

  @include media-breakpoint-down(lg) {
    font-size: 38px;
  }

  @include media-breakpoint-down(md) {
    font-size: 32px;
  }

  @include media-breakpoint-down(sm) {
    font-size: 26px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 24px;
  }
}

h3,
.h3 {
  margin-bottom: 0;
  font-size: 28px;
  font-weight: 500;

  @include media-breakpoint-down(sm) {
    font-size: 22px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 22px;
  }
}

h4,
.h4 {
  margin-bottom: 0;
  font-size: 26px;
  line-height: 40px;
  font-weight: 400;

  @include media-breakpoint-down(md) {
    font-size: 20px;
    line-height: 32px;
  }

  @include media-breakpoint-down(xs) {
    font-size: 20px;
    line-height: 30px;
  }
}

h5 {
}

h6 {
}

p {
  margin-bottom: 0;
  font-size: 19px;
  line-height: 34px;

  @include media-breakpoint-down(md) {
    font-size: 18px;
    line-height: 24px;
  }
}

.font-weight-medium {
  font-weight: 500;
}

ul {

  li {
  }
}

ol {

  li {
  }
}

table {
}

tr {
}

th {
}

td {
}

a {
  color: #61ba7b;
}

input {

  &:focus {
    outline: none;
  }
}

textarea {

  &:focus {
    outline: none;
  }
}

select {
}

button {
  padding: 0;
  border: 0;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

input[type='submit'] {
  border: 0;
  cursor: pointer;
}

img {
  max-width: 100%;
}

.nobr {
  white-space: nowrap;
}
