mixin drag(data)
  .drag.js-reveal&attributes(attributes)
    .container.position-relative
      .row
        .col-12.col-md-6
          .drag__text
            h2.mb-25 План поселка
            p.
              Дома и план посёлка разработаны с учётом Васту ー индийской системы проектирования жилья.
    .drag__wrapper
      .drag__content: img.drag__img(src="./img/plan.jpg" alt="")
      a(href="./img/plan.jpg" data-fancybox data-base-class="fancybox--full").drag__link.d-xl-none: img(src="./img/search.svg" alt="")
    .drag__controls
      a.drag__btn.drag__btn--minus(href="#")
      a.drag__btn.drag__btn--plus(href="#")
