.drag {
  position: relative;
  max-height: 870px;

  @include media-breakpoint-down(lg) {
    max-height: none;
  }

  &__wrapper {
    overflow: hidden;
    width: 100%;
    height: 870px;

    @include media-breakpoint-down(lg) {
      position: relative;
      height: auto;
    }
  }

  &__text {
    position: absolute;
    z-index: 1;
    top: 40px;
    padding: 30px 80px 76px 110px;
    background: #fff;

    @include media-breakpoint-down(lg) {
      padding: 40px;
    }

    @include media-breakpoint-down(md) {
      position: relative;
      top: 0;
      left: 0;
      margin-top: 40px;
      padding: 20px;
      width: 100%;
    }
  }

  &__content {
    position: relative;
    height: 100%;

    @include media-breakpoint-down(lg) {
      pointer-events: none;
    }

    &:hover {
      cursor: url('../img/drag.svg'), auto;

      @include media-breakpoint-down(lg) {
        cursor: pointer;
      }
    }
  }

  &__img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: 100%;

    @include media-breakpoint-down(lg) {
      max-width: 100%;
    }
  }

  &__link {
    position: absolute;
    right: 10px;
    bottom: 20px;
    display: flex;
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, .15);

    img {
      width: 24px;
    }
  }

  &__controls {
    position: absolute;
    right: 40px;
    bottom: 40px;
    display: flex;
    align-items: center;

    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  &__btn {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    box-shadow: 0 0 4px rgba(0, 0, 0, .15);

    & + & {
      margin-left: 10px;
    }

    &--minus {
      background: #fff url(../img/minus.svg) no-repeat center;
    }

    &--plus {
      background: #fff url(../img/plus.svg) no-repeat center;
    }
  }
}
