mixin slider(data)
  .slider.js-reveal&attributes(attributes)
    .container: .row: .col-xl-10.mx-auto.position-relative.slider__col
      .slider__drag
        span тяни меня
      .slider__content.js-slider
        for item in data.items
          .slider__item
            img.mb-25.mb-md-50(src=`./img/${item.img}` alt="")
            if item.text
              p !{item.text}
          
