.slider {
  position: static;
  overflow: hidden;

  .container,
  .row {
    position: static;
  }

  &__col {

    &:hover {
      cursor: url('../img/drag-hor.svg'), auto;
    }

    @include media-breakpoint-down(md) {
      cursor: default;
    }
  }

  &__content {
    margin-right: -1500px;
    margin-left: -10px;

    @include media-breakpoint-down(md) {
      margin-right: -10px;
    }
  }

  &__item {
    margin: 0 10px;
    max-width: 750px;
  }

  &__drag {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;

    /*   transition: transform 0.2s cubic-bezier(.02,1.23,.79,1.08); */

    opacity: 0;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    background: #fff;
    border-radius: 50%;
    transition: opacity .3s ease;
    transform: translate3d(0, 0, 0);
    cursor: none !important;

    @include media-breakpoint-down(md) {
      display: none;
    }

    &--show {
      opacity: 1;
    }
  }

  .slick-dots {
    position: static;
    margin-top: 40px;
    padding-left: 5px;
    display: flex;
    justify-content: flex-start;

    li {
      width: auto;
      height: auto;
      list-style: none;

      &.slick-active {

        button {
          background: rgba($dark, .5);
        }
      }

      button {
        margin-right: 0;
        width: 5px;
        height: 5px;
        background: $dark;
        border: 0;

        &:before {
          display: none;
        }
      }
    }
  }

  &--img {

    .slick-dots {
      margin-top: 20px;
    }
  }
}
