//fancybox
.fancybox-close-small {
  position: fixed;
  top: 20px !important;
  right: auto !important;
  left: 20px !important;
  padding: 2px !important;
  background: #fff;
  //  opacity: 1;

  @include media-breakpoint-down(sm) {
    top: 0 !important;
    left: 0 !important;
  }
}

.fancybox-content a:focus {
  outline: none;
}

.fancybox--menu {

  .fancybox-slide {
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: $secondary;
  }

  .fancybox-content {
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
  }

  .fancybox-close-small {
    background: $secondary;

    @include media-breakpoint-down(sm) {
      top: 8px !important;
      left: 0 !important;
    }
  }
}

.fancybox--video {

  .fancybox-slide {
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .fancybox-toolbar {
    right: auto;
    left: 0;
    visibility: visible !important;
    opacity: 1 !important;
  }

  .fancybox-button--close {
    padding: 2px !important;
    opacity: .8;
    color: #000;
    background-color: transparent;

    &:hover {
      opacity: 1;
    }
  }
}

.fancybox--full {
  background-color: #fff;

  .fancybox-content,
  .fancybox-slide {
    padding: 0;
  }

  .fancybox-content {
    width: 100%;
    height: 100%;
  }
}

#modal-done.fancybox-content,
#modal-subs-done.fancybox-content {
  display: inline-flex !important;
  flex-direction: column;
  justify-content: center;
}

//slick
.slick-slide {
  outline: none !important;
}
