.anchors {
  position: relative;
  left: -2px;
  padding-right: 24px;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: left top;

  &__link {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    white-space: nowrap;
    pointer-events: none;

    &.active {
      position: relative;
      opacity: 1;

      @include transition;
    }
  }
}
