.d-none
  #modal-order.bg-light
    .text-center.px-20.px-md-40.pt-40.pt-md-60.bg-white
      .h1.mb-30 Стать жителем
      .container: .row.no-gutters: .col-md-6.mx-auto
        p.mb-20.
          Мы рады, что вы решили присоединиться к сообществу «Атма». <br>Введите данные в форму ниже, и мы вам ответим.
    .bg-light.py-30.py-md-60.px-md-40.pt-40: .container: .row.no-gutters: .col-md-6.col-xl-4.mx-auto
      form(name="order").js-submit
        input(name="form" hidden value="АТМА. Форма: Стать жителем")
        .form-group.mb-30
          input.form-control#name-input(name="name" type="text" placeholder=" " required)
          label(for="name-input") Имя  
        .form-group.mb-30
          input.form-control#email-input2(name="email" type="email" placeholder=" " required)
          label(for="email-input2") Email
        .form-group.mb-30
          input.form-control.js-masked-tel#phone-input(name="tel" type="tel" placeholder=" " required)
          label(for="phone-input") Номер телефона
        .custom-control.custom-checkbox.mb-30
          input.custom-control-input#cond(type="checkbox" name="cond" checked required)
          label.custom-control-label(for="cond").
            Подтверждаю свое <a href="javascript:;" data-fancybox data-src="#modal-rules" data-touch="false" data-base-class="fancybox--full" class="text-secondary">согласие на обработку персональных данных</a>
        .text-center: button(type="submit").btn.btn-outline-dark.px-60 Отправить
  #modal-invest.bg-light
    .text-center.px-20.px-md-40.pt-40.pt-md-60.bg-white
      .h1.mb-30 Стать инвестором
      .container: .row.no-gutters: .col-md-6.mx-auto
        p.mb-20.
          Мы рады, что вы решили присоединиться к сообществу «Атма». <br>Введите данные в форму ниже, и мы вам ответим.
    .bg-light.py-30.py-md-60.px-md-40.pt-40: .container: .row.no-gutters: .col-md-6.col-xl-4.mx-auto
      form(name="order").js-submit
        input(name="form" hidden value="АТМА. Форма: Стать инвестором")
        .form-group.mb-30
          input.form-control#name-input(name="name" type="text" placeholder=" " required)
          label(for="name-input") Имя  
        .form-group.mb-30
          input.form-control#email-input2(name="email" type="email" placeholder=" " required)
          label(for="email-input2") Email
        .form-group.mb-30
          input.form-control.js-masked-tel#phone-input(name="tel" type="tel" placeholder=" " required)
          label(for="phone-input") Номер телефона
        .custom-control.custom-checkbox.mb-30
          input.custom-control-input#cond(type="checkbox" name="cond" checked required)
          label.custom-control-label(for="cond").
            Подтверждаю свое <a href="javascript:;" data-fancybox data-src="#modal-rules" data-touch="false" data-base-class="fancybox--full" class="text-secondary">согласие на обработку персональных данных</a>
        .text-center: button(type="submit").btn.btn-outline-dark.px-60 Отправить
  #modal-done
    .container.text-center.py-40.px-20.px-md-40: .row: .col-md-6.col-lg-6.mx-auto
      .h2.mb-30 Заявка отправлена
      p.mb-50.
        Спасибо. Мы свяжемся с вами в течение суток.
      button.btn.btn-outline-dark.px-50(type="button" data-fancybox-close) Продолжить
  #modal-subs-done
    .container.text-center.py-40.px-20.px-md-40: .row: .col-md-6.col-lg-6.mx-auto
      .h2.mb-30 Спасибо
      p.mb-50.
        Вы подписаны на рассылку
      button.btn.btn-outline-dark.px-50(type="button" data-fancybox-close) Продолжить
  #modal-rules
    .container.py-40.px-20.px-md-40: .row: .col-xl-10.mx-auto
      h2.text-center.mb-30.mb-md-70 Правила сайта и политика конфиденциальности
      h3.mb-20.mb-md-40 Как мы обрабатываем персональные данные, хранящиеся на сайте 
      p.mb-25.mb-md-50.
        Когда вы заполняете форму связи на сайте «Атма», OOO «Атма» вставьте официальное название компании ООО получает ваши персональные данные и обрабатывает их. В «Политике конфиденциальности» мы описываем, как это происходит.
      h3.mb-20.mb-md-40 Термины и определения
      p.mb-25.mb-md-50.
        Читатель — физическое лицо, которое использует любые услуги, предоставляемые «ООО Атма».<br>
        Данные читателя — любая информация, которая известна «ООО Атма» о посетителе сайта.<br>
        Персональные данные <br>
        IP-адрес  ー собирается автоматически, <br>
        имя, фамилия, email, телефон читателя ー обрабатываются, если пользователь сам ввёл их в форму обратной связи.<br>
        Обработка — сбор, хранение, изменение, предоставление доступа, передача персональных данных читателя.<br>
        «Атма» — сайт с доменным именем atma.land.
      h3.mb-20.mb-md-40 Принципы обработки персональных данных
      p.mb-25.mb-md-50.
        Мы обеспечиваем конфиденциальность персональных данных, не допускаем их разглашение третьим лицам и применяем необходимые организационные и технические меры по их защите. <br>
        Для обработки персональных данных «Атма» работает с партнёрами (сервис рассылки, сервис аналитики работы сайта) и передаёт им эти данные. Мы следим за соблюдением мер безопасности и не передаём данные партнёрам, если сомневаемся в их принципах обработки данных.<br>
        Цели обработки персональных данных<br>
        Чтобы читатели получали информационную рассылку с новостями компании, если подписались на неё.<br>
        Чтобы читатели задавали компании вопросы и получали ответы.<br>
        Чтобы собирать статистику посещения сайта и информацию о том, как пользуются нашими сервисами, и улучшать сайт.<br>
        Персональные данные, которые «Атма» получает от читателя, мы используем только в целях, упомянутых выше, и только если читатель согласен с принципами обработки этих данных.<br>
        Если вы хотите, чтобы мы удалили ваши данные, напишите нам на адрес privet@atma.land, и мы удалим ваши персональные данные, либо воспользуйтесь кнопкой «Отписаться», которая есть в каждом электронном письме для отписки от рассылки и удаления вашего email из подписной базы. 
      h3.mb-20.mb-md-40 P. S. Этот документ может измениться!
      p.mb-25.mb-md-50.
        Мы вправе в любой момент в одностороннем порядке изменить этот документ. Но в случае такой необходимости сделаем это открыто. На этой странице мы будем предупреждать об этом читателей не позже чем за месяц до вступления новой Политики конфиденциальности.
        
