
include ../blocks/footer/footer.pug
include ../blocks/menu/menu.pug
include ../blocks/header/header.pug
include ../blocks/anchors/anchors.pug
include ../blocks/subs/subs.pug
include ../blocks/block-next/block-next.pug
include ../blocks/front/front.pug
include ../blocks/case/case.pug
include ../blocks/slider/slider.pug
include ../blocks/way/way.pug
include ../blocks/drag/drag.pug
include ../blocks/menu-popup/menu-popup.pug
include ../blocks/link-menu/link-menu.pug
include ../blocks/section/section.pug
include ../blocks/block/block.pug
include ../blocks/form-submit/form-submit.pug
include ../blocks/parallax/parallax.pug
include ../blocks/scroll-reveal/scroll-reveal.pug