mixin subs(data)
  .container.js-reveal: .row: .col-xl-10.mx-auto: .subs&attributes(attributes)
    form.js-subs-submit(name="subs")
      h2.mb-30 Рассылка
      .row
        .col-lg-5.mr-auto.pb-30.pb-lg-0: p.
          Мы присылаем только важную информацию.
          <br>
          Никакого спама.
        .col-md-8.col-lg-4.pb-30.pb-md-0
          .form-group
            input.form-control#email-input(name="email" type="email" placeholder=" " required)
            label(for="email-input") Ваш email
        .col-md-4.col-lg-2.d-flex.flex-column: button(type="submit").btn.btn-outline-dark Подписаться
      
      
