.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include media-breakpoint-down(sm) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &--slider {
    padding: 150px 0;

    @include media-breakpoint-down(md) {
      padding: 100px 0;
    }

    @include media-breakpoint-down(sm) {
      padding: 50px 0;
    }
  }

  &__offset-top {

    img {
      margin-top: -50px;

      @include media-breakpoint-down(md) {
        margin-top: 0;
      }
    }
  }
}
