.link-menu {
  position: relative;
  margin-bottom: 30px;
  padding-top: 10px;
  display: inline-block;
  font-size: 28px;
  line-height: 1;
  font-weight: 500;
  color: #000;

  @include media-breakpoint-down(lg) {
    margin-bottom: 25px;
    font-size: 26px;
  }

  @include media-breakpoint-down(md) {
    font-size: 24px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &__text {
    padding-top: 1px;
    display: block;
    overflow: hidden;
    height: 32px;
    line-height: 33px;
  }

  &__num {
    position: absolute;
    top: 3px;
    left: -38px;
    display: block;
    overflow: hidden;
    height: 20px;
    font-size: 14px;
    font-style: normal;
    color: #fff;

    @include media-breakpoint-down(md) {
      left: -22px;
    }

    span {
      display: block;
      transform: translateY(20px);
    }
  }

  &__white {
    display: block;
    color: #fff;
  }

  &__black {
    display: block;
    color: #000;
  }

  &:hover,
  &.is-active {

    .link-menu__black {
      transition: .2s;
      transform: translateY(-34px);
    }

    .link-menu__white {
      transition: .2s;
      transition-delay: .2s;
      transform: translateY(-32px);
    }

    .link-menu__num {

      span {
        transition: .2s;
        transform: none;
      }
    }
  }
}
