mixin link-menu(data)
  a.link-menu.js-link-menu(href=data.href)&attributes(attributes)
    i.link-menu__num: span 0!{data.num}
    span.link-menu__text
      span.link-menu__black !{data.text}
      span.link-menu__white !{data.text}
      
