mixin block-next(data)
  .block-next#block-next.js-reveal&attributes(attributes)
    .container: .row: .col-xl-10.mx-auto: .block-next__content.border-bottom: .row
      .col-lg-6.d-none.d-lg-block: h2.h1 Далее
      .col-lg-6.block-next__text
        h2.mb-25= data.title
        p.mb-40 !{data.text}
        a.btn.btn-outline-dark(href=data.link) Перейти
