.block-next {
  margin-bottom: 50px;

  @include media-breakpoint-down(sm) {
    margin-bottom: 30px;
  }

  &__content {
    padding-top: 60px;
    padding-bottom: 70px;

    @include media-breakpoint-down(sm) {
      padding-top: 40px;
      padding-bottom: 40px;
    }
  }

  &__text {
    padding-top: 23px;

    @include media-breakpoint-down(lg) {
      padding-top: 6px;
    }

    @include media-breakpoint-down(md) {
      padding-top: 0;
    }
  }
}
