mixin footer(data)
  footer.footer&attributes(attributes): .container.position-relative
    .row: .col-xl-10.mx-auto
      .footer__content.border-top.border-bottom
        +menu({links: data.menu}).menu--footer
        a(href="javascript:;" data-fancybox data-src="#modal-rules" data-touch="false" data-base-class="fancybox--full").footer__link.d-none.d-xl-inline-block Правила сайта
        a.footer__fix-link.js-fix-link-right(href="javascript:;" data-fancybox data-src="#modal-invest" data-touch="false" data-base-class="fancybox--full") Стать инвестором
      .footer__bottom
        .d-flex.align-items-center.justify-content-between.flex-column.flex-md-row
          .footer__text Copyright © Atma 2019
          .footer__text Telegram/WhatsApp: +7 903 016 91 87
          button.btn.btn--go-top.js-go-top(type="button")
        a(href="javascript:;" data-fancybox data-src="#modal-rules" data-touch="false" data-base-class="fancybox--full").footer__link.d-xl-none Правила сайта
        
  include ../../templates/_modals
