.footer {
  position: relative;

  &__content {
    padding: 56px 0;
    display: flex;

    @include media-breakpoint-down(md) {
      padding: 35px 0;
    }

    @include media-breakpoint-down(sm) {
      display: block;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 17px;
    color: #000;

    & + & {

      @include media-breakpoint-down(sm) {
        margin: 20px 0;
      }
    }
  }

  &__link {
    margin-left: auto;
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
    color: #000000;

    @include transition;

    @include media-breakpoint-down(sm) {
      margin-top: 20px;
      display: block;
      text-align: center;
    }

    &:hover {
      opacity: .6;
      color: #000;
    }
  }

  &__fix-link {
    position: fixed;
    top: 280px;
    right: 35px;
    display: none;
    font-size: 18px;
    line-height: 17px;
    font-weight: 500;
    color: #61ba7b;
    transform: rotate(-270deg);
    transform-origin: right top;

    @include transition();

    @include media-breakpoint-down(sm) {
      position: relative;
      top: 0;
      right: 0;
      display: inline-block !important;
      transform: none;
    }

    &:after {
      position: absolute;
      top: 0;
      right: -35px;
      display: block;
      width: 22px;
      height: 22px;
      content: '';
      background: url('../img/investor-arrow.svg') no-repeat center transparent;
    }

    &:hover {
      opacity: .7;
      color: #61ba7b;
    }
  }

  &__bottom {
    padding: 56px 0 63px;
    font-size: 16px;
    line-height: 17px;
    font-weight: 400;

    @include media-breakpoint-down(md) {
      padding: 30px 0;
    }
  }

  .menu {

    @include media-breakpoint-down(sm) {
      margin-bottom: 30px;
      flex-direction: column;
    }
  }

  .btn--go-top {
  }
}
