extends ../templates/template.pug
block content
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title Сообщество
    link(rel='shortcut icon', type='image/png', href='./img/favicon.png')
    link(rel='stylesheet', href='css/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(name="format-detection", content="telephone=no")
  body
    +header({
      menu: [
        {
          text: 'О поселке ',
          href: './'
        },
        {
          text: 'Жизнь',
          href: './life.html'
        },
        {
          text: 'Коворкинг',
          href: './coworking.html'
        },
        {
          text: 'Здоровье',
          href: './health.html'
        },
        {
          text: 'Сообщество',
          href: './community.html',
          active: true
        },
        {
          text: 'Детям',
          href: './forkids.html'
        },
        {
          text: 'Отель',
          href: './hotel.html'
        },
        {
          text: 'Стоимость',
          href: './price.html'
        }
      ]
    })
    main
      +case({
        number: '05/08',
        title: 'Сообщество',
        text: 'Люди ー основная ценность «Атмы». Мы приглашаем к нам всех, кто мыслит творчески.',
        img: 'img_p-5.jpg',
        next: '#next'
      }).js-parallax
      .bg-white.position-relative
        section.section#next: .container: .row: .col-xl-10.mx-auto
          +block_metro({
            item_1: {
              title: 'Люди, объединённые общими интересами',
              text: 'Мы объединяемся вокруг гуманистических идей и принципов здоровой жизни в гармонии с природой. К нам приезжают те, кому не всё равно: в какой среде жить, чем питаться, кто живёт по соседству, кто и чему учит их детей. ',
              img_1: 'people-1.jpg',
              img_2: 'people-2.jpg'
            },
            item_2: {
              title: 'Образовательные семинары и тренинги',
              text: 'Через общение, образование и непрерывное совершенствование себя человек ставит высокие цели, достигает их и делает мир вокруг краше и добрее. Поэтому в ретрит-центре мы планируем проводить обучение для взрослых.',
              img: 'people-3.jpg'
            },
            item_3: {
              title: 'Совместные праздники',
              text: 'Добрососедство ー одна из наших основных ценностей. Мы любим ходить друг к другу в гости, собираться компанией, петь песни у костра и танцевать. Всем, кто уверен в том, что вместе можно создать нечто большее, чем по отдельности, добро пожаловать!',
              img: 'people-4-3.jpg'
            }
          })
          .h1.mt-80.js-reveal.
            Наше сообщество поддерживает людей с самыми смелыми идеями. Каждому мы даём возможность высказаться и воплотить в жизнь идею, как улучшить общее пространство посёлка.
        img.d-block.w-100.js-reveal(src="./img/img_width-6.jpg" alt="")
        +block-next({
          title: 'Образование для детей',
          text: 'В 2020 году у нас открывается необычная частная школа и детсад. Узнайте об этом больше. ',
          link: './forkids.html'
        })
    +subs
    +footer({
      menu: [
        {
          text: 'О поселке ',
          href: './'
        },
        {
          text: 'Жизнь',
          href: './life.html'
        },
        {
          text: 'Коворкинг',
          href: './coworking.html'
        },
        {
          text: 'Здоровье',
          href: './health.html'
        },
        {
          text: 'Сообщество',
          href: './community.html',
          active: true
        },
        {
          text: 'Детям',
          href: './forkids.html'
        },
        {
          text: 'Отель',
          href: './hotel.html'
        },
        {
          text: 'Стоимость',
          href: './price.html'
        }
      ]
    })
