extends ../templates/template.pug
block content
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title Коворкинг
    link(rel='shortcut icon', type='image/png', href='./img/favicon.png')
    link(rel='stylesheet', href='css/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(name="format-detection", content="telephone=no")
  body
    +header({
      menu: [
        {
          text: 'О поселке ',
          href: './'
        },
        {
          text: 'Жизнь',
          href: './life.html'
        },
        {
          text: 'Коворкинг',
          href: './coworking.html',
          active: true
        },
        {
          text: 'Здоровье',
          href: './health.html'
        },
        {
          text: 'Сообщество',
          href: './community.html'
        },
        {
          text: 'Детям',
          href: './forkids.html'
        },
        {
          text: 'Отель',
          href: './hotel.html'
        },
        {
          text: 'Стоимость',
          href: './price.html'
        }
      ]
    })
    main
      +case({
        number: '03/08',
        title: 'Коворкинг',
        text: 'Коворкинг в «Атме» ー это пространство для работы, полезных знакомств и обмена идеями. Откроется в 2020 году.',
        img: 'img_p-3.jpg',
        next: '#next'
      }).js-parallax
      .bg-white.position-relative
        #next.section: .container: .row: .col-xl-10.mx-auto
          +block({
            title: 'Усиление творческого потенциала',
            text: 'Важно разделять расслабляющее пространство дома и рабочее место, где нужна концентрация на задаче. В коворкинге, где ничто не отвлекает от дела, вы становитесь продуктивнее. ',
            img_1: 'img-cw-1.jpg',
            img_2: 'img-cw-2.jpg'
          })
          +block_1({
            title: 'Свобода для разума',
            text: 'В «Атме» мы приветствуем совместное творчество. В небольшой группе вы сможете обсудить идеи, показать свою работу, найти людей для совместного проекта.Пространство коворкинга рассчитано на 30 мест, есть библиотека, мини-кухня.',
            img: 'img-cw-3.jpg'
          })
          .h1.mt-80.js-reveal Дайте разуму возможность работать в чистом пространстве, не отвлекаясь.
        img.d-block.w-100.js-reveal(src="./img/img_width-5.jpg" alt="")
        +block-next({
          title: 'Уход за здоровьем',
          text: 'Узнайте, какие возможности оздоровления существуют в «Атме». ',
          link: './health.html'
        })
    +subs
    +footer({
      menu: [
        {
          text: 'О поселке ',
          href: './'
        },
        {
          text: 'Жизнь',
          href: './life.html'
        },
        {
          text: 'Коворкинг',
          href: './coworking.html',
          active: true
        },
        {
          text: 'Здоровье',
          href: './health.html'
        },
        {
          text: 'Сообщество',
          href: './community.html'
        },
        {
          text: 'Детям',
          href: './forkids.html'
        },
        {
          text: 'Отель',
          href: './hotel.html'
        },
        {
          text: 'Стоимость',
          href: './price.html'
        }
      ]
    })
