extends ../templates/template.pug
block content
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title Детям
    link(rel='shortcut icon', type='image/png', href='./img/favicon.png')
    link(rel='stylesheet', href='css/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(name="format-detection", content="telephone=no")
  body
    +header({
      menu: [
        {
          text: 'О поселке ',
          href: './'
        },
        {
          text: 'Жизнь',
          href: './life.html'
        },
        {
          text: 'Коворкинг',
          href: './coworking.html'
        },
        {
          text: 'Здоровье',
          href: './health.html'
        },
        {
          text: 'Сообщество',
          href: './community.html'
        },
        {
          text: 'Детям',
          href: './forkids.html',
          active: true
        },
        {
          text: 'Отель',
          href: './hotel.html'
        },
        {
          text: 'Стоимость',
          href: './price.html'
        }
      ],
      anchors: [
        {
          text: 'Наш подход',
          href: '#method'
        },
        {
          text: 'Детский сад',
          href: '#children'
        },
        {
          text: 'Школа',
          href: '#school'
        },
        {
          text: '',
          href: '#block-next'
        }
      ]
    })
    +menu-popup({
      title: 'Детям',
      links: [
        {
          text: 'Наш подход',
          href: '#method'
        },
        {
          text: 'Детский сад',
          href: '#children'
        },
        {
          text: 'Школа',
          href: '#school'
        }
      ],
      imgs: ['menu-kids-1.jpg', 'menu-kids-2.jpg', 'menu-kids-3.jpg']
    })
    main
      +case({
        number: '06/08',
        title: 'Детям',
        text: 'Новая образовательная среда (НОС) ー детский сад и частная школа для детей от 4 до 18  лет, где не заставляют учиться, а идут за интересом ребёнка.',
        img: 'img_p-6.jpg',
        next: '#method'
      }).js-parallax
      .bg-white.position-relative
        section.section#method: .container: .row: .col-xl-10.mx-auto
          h2.mb-45.js-reveal Наш подход
          .row.mb-md-50
            .col-md-6.pb-30.js-reveal: p.
              Обычно школа не ассоциируется с радостью, открытиями и удовольствием. Мы хотим показать, что может быть по-другому. Что быть собой в школе ー безопасно. 
            .col-md-6.pb-30.js-reveal: p.
              НОС ー демократическая среда, в которой взрослые и дети доверяют друг другу, общаются на равных, совместно выстраивают пространство, где у каждого есть и права, и ответственность.
          +block_4({
            items: [
              {
                img: 'img_k-1.jpg',
                title: 'Почему НОС',
                text: 'Здесь нет обязательных уроков и домашних заданий. Дети имеют право не приходить на занятия, но сами принимают решение учиться. НОС ー творческое пространство для развития способностей ребёнка и его самостоятельности. Иногда нас называют русским Саммерхиллом за желание воспитать людей свободными.'
              },
              {
                img: 'img_k-2.jpg',
                title: 'Философия ',
                text: 'Цель НОС ー создать среду возможностей, в которой гармонично уживаются гуманитарные, технические науки, творчество, импровизация и социальные навыки (как решать проблемы, договариваться, заботиться о себе и других, расставлять приоритеты).'
              },
              {
                img: 'img_k-3.jpg',
                title: 'Самонаправленное образование',
                text: 'В демократической среде ребёнок сам решает, какие знания хочет получить и каким способом наставник ему в этом поможет. Как ни парадоксально, такой подход работает. В рамках студий он придумывает и реализует проекты на интересные ему темы.'
              },
              {
                img: 'img_k-4.jpg',
                title: 'Принципы',
                text: 'Дети из НОС учатся слушать себя и идти за интересами, углубляясь в предметы, тогда как дети обычных школ к 13 годам зачастую уже вообще ничего не хотят.'
              }
            ]
          })
        img.d-block.w-100.js-reveal(src="./img/img_width-7.jpg" alt="")
        .section.section--slider
          +slider({
            items: [
              {
                img: 'slider-k-1.jpg'
              },
              {
                img: 'slider-k-2.jpg'
              },
              {
                img: 'slider-k-3.jpg'
              },
              {
                img: 'slider-k-4.jpg'
              },
              {
                img: 'slider-k-5.jpg'
              }
            ]
          }).slider--img
          .container: .row: .col-xl-10.mx-auto
            .h1.mt-60.js-reveal Каждый ребёнок найдёт занятие исходя из своего интереса
        section.section.bg-light#children
          .container: .row: .col-xl-10.mx-auto
            h2.mb-40.js-reveal Детский сад
            img.d-block.w-100.mb-30.mb-md-60.js-reveal(src='./img/img-kids-1.jpg' alt="")
            h3.mb-20.js-reveal Больше чем просто детский сад
            .row.mb-10.mb-md-40
              .col-md-6.pb-20.js-reveal: p.
                Младшие дети находятся в разновозрастной среде, тянутся к школьникам, общаются и играют с ними. Они участвуют в общих собраниях и принимают решения наравне со взрослыми. 
              .col-md-6.pb-20.js-reveal: p.
                Дети видят, что к их мнению прислушиваются. 
                Так формируется здоровая самооценка.
            +block_4({
              items: [
                {
                  img: 'img_k-5.jpg',
                  title: 'Принцип дошкольного образования',
                  text: 'Дети от природы любознательны. Наша цель ー не дать этому огоньку погаснуть, а сохранить любовь к познанию и пронести её во взрослую жизнь, дать ребёнку раскрыться.'
                },
                {
                  img: 'img_k-6.jpg',
                  title: 'Питание',
                  text: 'Дети питаются 4 раза в день. Мы учитываем особенности каждого ребёнка (аллергия, диета, исключение некоторых продуктов).'
                }
              ]
            }) 
            a.btn.btn-link.btn-link--arrow.js-reveal(href="https://nooos.ru/kindergarten", target="_blank") Подробнее о программе детского сада
        section.section#school
          .container: .row: .col-xl-10.mx-auto
            h2.mb-40.js-reveal Школа
            +block_metro({
              item_1: {
                title: 'Начальная (6—8 лет)',
                text: 'У нас нет деления на классы. Дети объединяются в 3 группы. В младшей возрастной группе (детский сад и первый класс) есть и игры, и занятия, требующие усидчивости, и прогулки.',
                img_1: 'school-1.jpg',
                img_2: 'school-2.jpg'
              },
              item_2: {
                title: 'Средняя (9—14 лет)',
                text: 'Первую половину дня дети занимаются в студиях по интересам, вторую ー готовятся к аттестации по предметам школьной программы. Если к 14 годам ребёнок и родители решают, что им нужно сдать ОГЭ и ЕГЭ, то мы помогаем ему в этом.',
                img: 'school-3.jpg'
              },
              item_3: {
                title: 'Старшая (15—18 лет)',
                text: 'Главное, что отличает нас от обычной школы, ー это продолжение всестороннего развития молодого человека, в отличие от натаскивания на тесты. Всё, что делают здесь дети, им по-настоящему интересно.',
                img: 'school-4.jpg'
              }
            })
            a.btn.btn-link.btn-link--arrow.mt-40.mb-30.mb-md-50.js-reveal(href="https://nooos.ru/studios_format", target="_blank") Подробнее о программах школы 
            .h1.mb-25.mb-md-50.js-reveal.
              Школа и родители ー партнёры в воспитании и образовании ребёнка.
            .row
              .col-md-6.js-reveal: p.
                Стоимость детского сада ー 28 тыс. рублей в месяц, 
                а школы ー 45 тыс. рублей в месяц. 
                Резидентам посёлка, родителям 2-х, 3-х детей, посещающих НОС ー скидки.
              .col-md-6.js-reveal: p.
                Если у вас остались вопросы, пишите, звоните.
                +7 903 755 21 88 Лика Крючкова, директор по развитию.
        img.d-block.w-100.js-reveal(src="./img/img_width-8.jpg" alt="")
        +block-next({
          title: 'Отель для гостей',
          text: 'Узнайте больше об отеле в «Атме».',
          link: './hotel.html'
        })
    +subs
    +footer({
      menu: [
        {
          text: 'О поселке ',
          href: './'
        },
        {
          text: 'Жизнь',
          href: './life.html'
        },
        {
          text: 'Коворкинг',
          href: './coworking.html'
        },
        {
          text: 'Здоровье',
          href: './health.html'
        },
        {
          text: 'Сообщество',
          href: './community.html'
        },
        {
          text: 'Детям',
          href: './forkids.html',
          active: true
        },
        {
          text: 'Отель',
          href: './hotel.html'
        },
        {
          text: 'Стоимость',
          href: './price.html'
        }
      ]
    })
