extends ../templates/template.pug
block content
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title Здоровье
    link(rel='shortcut icon', type='image/png', href='./img/favicon.png')
    link(rel='stylesheet', href='css/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(name="format-detection", content="telephone=no")
  body
    +header({
      menu: [
        {
          text: 'О поселке ',
          href: './'
        },
        {
          text: 'Жизнь',
          href: './life.html'
        },
        {
          text: 'Коворкинг',
          href: './coworking.html'
        },
        {
          text: 'Здоровье',
          href: './health.html',
          active: true
        },
        {
          text: 'Сообщество',
          href: './community.html'
        },
        {
          text: 'Детям',
          href: './forkids.html'
        },
        {
          text: 'Отель',
          href: './hotel.html'
        },
        {
          text: 'Стоимость',
          href: './price.html'
        }
      ],
      anchors: [
        {
          text: 'Управление здоровьем',
          href: '#controls'
        },
        {
          text: 'Йога',
          href: '#yoga'
        },
        {
          text: 'Центр оздоровления',
          href: '#recovery'
        },
        {
          text: '',
          href: '#block-next'
        }
      ]
    })
    +menu-popup({
      title: 'Здоровье',
      links: [
        {
          text: 'Управление здоровьем',
          href: '#controls'
        },
        {
          text: 'Йога',
          href: '#yoga'
        },
        {
          text: 'Центр оздоровления',
          href: '#recovery'
        }
      ],
      imgs: ['menu-h-1.jpg', 'menu-h-2.jpg', 'menu-h-3.jpg']
    })
    main
      +case({
        number: '04/08',
        title: 'Здоровье',
        text: 'Здоровье начинается со среды обитания. Первый шаг к нему ー это решение жить за городом. Поддержать здоровье поможет ретрит-центр.',
        img: 'img_p-4.jpg',
        next: '#controls'
      }).js-parallax
      .bg-white.position-relative
        section.section#controls: .container: .row: .col-xl-10.mx-auto
          h2.mb-50.js-reveal Управление здоровьем
          +block_4({
            items: [
              {
                img: 'img_h-1.jpg',
                title: 'Работа с психологом',
                text: 'Вина, гнев, обида, недовольство ー источники многих недугов тела. В «Атме» будут работать психологи и психотерапевты, которые профессионально помогут вам решить проблемы и почувствовать, что из любой ситуации найдётся выход.'
              },
              {
                img: 'img_h-2.jpg',
                title: 'Лечебный массаж',
                text: 'Современный человек мало двигается и много времени сидит. Массажисты разминают мышечные зажимы, улучшают кровообращение, лимфоток в теле и поддерживают ваше здоровье. '
              },
              {
                img: 'img_h-3.jpg',
                title: 'Питание ',
                text: 'В вегетарианском кафе вам предложат вкусные блюда от шеф-повара, в том числе без глютена и сахара. Мы угощаем гостей только тем, что полезно.'
              },
              {
                img: 'img_h-4.jpg',
                title: 'Ретриты школ Вадима Демчог и Дмитрия Шаменкова',
                text: 'В ретрит-центре будут проводиться комплексные программы, направленные на снижение стресса и поиск ответа на вопросы: кто я, куда иду? Через духовные и телесные практики вы очистите сознание, перезагрузитесь и наполнитесь энергией.'
              }
            ]
          })
          .h1.mb-50.js-reveal По мере того как возникает болезнь образа жизни, возникает болезнь тела.
        section.section.bg-light#yoga
          .container: .row: .col-xl-10.mx-auto
            h2.mb-40.js-reveal Йога
            +block_metro({
              item_1: {
                title: 'Хатха-йога',
                text: 'Древняя индийская практика успокаивает ум, активизирует работу внутренних органов, помогает поддерживать тело и душу в гармонии, даёт человеку гибкость и долголетие.',
                img_1: 'yoga-1.jpg',
                img_2: 'yoga-2.jpg'
              },
              item_2: {
                title: 'Для будущих мам',
                text: 'Инструкторы проведут мягкие практики, которые помогут будущей маме оставаться активной и бодрой. Если вы новичок в йоге, вам предложат облегчённый вариант асан.',
                img: 'moms-1.jpg'
              },
              item_3: {
                title: 'Йога детям',
                text: 'Чтобы заинтересовать ребёнка йогой, поддержать его природную гибкость и укрепить мышцы, мы будем проводить программы для детей 4-15 лет. Пока вы занимаетесь в соседнем зале, ваше чадо тоже будет постигать йогу в игровой форме.',
                img: 'yoga-3.jpg'
              }
            })
        section.section#recovery: .container: .row: .col-xl-10.mx-auto
          h2.mb-50.js-reveal Центр оздоровления 
          +block_4({
            items: [
              {
                img: 'img_hr-1.jpg',
                title: 'Гомеопатия',
                text: 'Клиника доктора Ведова применяет холистические подходы лечения, которые рассматривают организм как единую систему. Гомеопатическое лечение подбирается индивидуально под особенности конституции человека и симптомы болезни.'
              },
              {
                img: 'img_hr-2.jpg',
                title: 'Остеопатия',
                text: 'Проблемы, которые годами беспокоят человека, у квалифицированного остеопата можно устранить за несколько сеансов с интервалом в 2-3 недели. Перестройки в организме настолько глубоки, что их сравнивают с хирургическим вмешательством. '
              },
              {
                img: 'img_hr-3.jpg',
                title: 'Спа-процедуры ',
                text: 'Оздоровление с помощью воды включает хамам, посещение сауны, обёртывания и другие процедуры, направленные на расслабление, очищение кожи и активизацию обменных процессов.'
              },
              {
                img: 'img_h-5.jpg',
                title: 'Ароматерапия',
                text: 'Эфирные масла растений влияют на настроение. Композиции из нескольких компонентов помогают привести тело в тонус или, наоборот, расслабить.'
              }
            ]
          })
          .h1.mt-50.js-reveal Забота о качестве жизни начинается с заботы о здоровье.
        img.d-block.w-100.js-reveal(src="./img/img_width-4.jpg" alt="")
        +block-next({
          title: 'Наше сообщество',
          text: 'Жить в окружении близких по духу людей очень важно. Хотите присоединиться? Узнайте подробнее.',
          link: './community.html'
        })
    +subs
    +footer({
      menu: [
        {
          text: 'О поселке ',
          href: './'
        },
        {
          text: 'Жизнь',
          href: './life.html'
        },
        {
          text: 'Коворкинг',
          href: './coworking.html'
        },
        {
          text: 'Здоровье',
          href: './health.html',
          active: true
        },
        {
          text: 'Сообщество',
          href: './community.html'
        },
        {
          text: 'Детям',
          href: './forkids.html'
        },
        {
          text: 'Отель',
          href: './hotel.html'
        },
        {
          text: 'Стоимость',
          href: './price.html'
        }
      ]
    })
