extends ../templates/template.pug
block content
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title Отель
    link(rel='shortcut icon', type='image/png', href='./img/favicon.png')
    link(rel='stylesheet', href='css/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(name="format-detection", content="telephone=no")
  body
    +header({
      menu: [
        {
          text: 'О поселке ',
          href: './'
        },
        {
          text: 'Жизнь',
          href: './life.html'
        },
        {
          text: 'Коворкинг',
          href: './coworking.html'
        },
        {
          text: 'Здоровье',
          href: './health.html'
        },
        {
          text: 'Сообщество',
          href: './community.html'
        },
        {
          text: 'Детям',
          href: './forkids.html'
        },
        {
          text: 'Отель',
          href: './hotel.html',
          active: true
        },
        {
          text: 'Стоимость',
          href: './price.html'
        }
      ],
      anchors: [
        {
          text: 'Первый этаж',
          href: '#floor-1'
        },
        {
          text: 'Второй этаж',
          href: '#floor-2'
        },
        {
          text: 'Третий этаж',
          href: '#floor-3'
        }
      ]
    })
    +menu-popup({
      title: 'Детям',
      links: [
        {
          text: 'Первый этаж',
          href: '#floor-1'
        },
        {
          text: 'Второй этаж',
          href: '#floor-2'
        },
        {
          text: 'Третий этаж',
          href: '#floor-3'
        }
      ],
      imgs: ['menu-hotel-1.jpg', 'menu-hotel-2.jpg', 'menu-hotel-3.jpg']
    })
    main
      +case({
        number: '07/08',
        title: 'Отель',
        text: 'Отель с панорамными окнами откроется для гостей в 2021 году. Мы гарантируем каждому потрясающий вид на посёлок и лес.',
        img: 'img_p-7.jpg',
        next: '#floor-1'
      }).js-parallax
      .bg-white.position-relative
        .section: .container: .row: .col-xl-10.mx-auto
          img.d-block.w-100.mb-40.mb-md-80.js-reveal(src="./img/img_width-9.jpg" alt="")
          .h1.js-reveal.
            Проводите время с пользой 
            для тела и души
        section.section.bg-light#floor-1
          .container: .row: .col-xl-10.mx-auto
            h2.mb-40.js-reveal Первый этаж
            +block_4({
              items: [
                {
                  img: 'img_hotel-1.jpg',
                  title: 'Веранда',
                  text: 'Веранда ー помещение площадью 100 м² со свободной планировкой, где проводятся мастер-классы для детей и взрослых.'
                },
                {
                  img: 'img_hotel-2.jpg',
                  title: 'Ретрит-центр ',
                  text: 'Ретрит-центр ー это пространство, где человек замедляется, чтобы успокоить ум и найти ответы на волнующие вас вопросы. Мы занимаемся рейки, системными расстановками и другими техниками. С помощью шумоизолирующих перегородок помещение легко трансформируется в 3 независимые зоны для тренингов.'
                },
                {
                  img: 'img_hotel-3.jpg',
                  title: 'Кафе',
                  text: 'Здоровое питание может быть вкусным! Кафе вегетарианской кухни предлагает блюда от шеф-повара. Мы учитываем все вкусы, поэтому вы найдёте здесь и веганские блюда, и сыроедческие, и блюда без глютена, и натуральные сладости.'
                },
                {
                  img: 'img_hotel-4.jpg',
                  title: 'SPA-зона',
                  text: 'В оздоровительной зоне будут располагаться хамам, сауна, небольшой бассейн, кабинеты остеопатов, массажные кабинеты. Отсюда вы выйдете будто заново родившимся.'
                }
              ]
            })
        section.section#floor-2
          .container: .row: .col-xl-10.mx-auto
            h2.mb-40.js-reveal Второй этаж
            +block({
              title: 'Отель',
              text: 'Отель рассчитан на 100 человек. Здание спроектировано в духе ДубльДома, поэтому мечтателей и созерцателей ждут приятные минуты наслаждения восходами и закатами из панорамных окон.',
              img_1: 'img-hotel-6.jpg',
              img_2: 'img-hotel-7.jpg',
            })
            +block_1({
              title: 'Хостел',
              text: 'Эконом-вариант с комнатами на 8 человек подойдёт для тех, кому не столь важно уединение, сколько возможность сэкономить на жилье и познакомиться с новыми людьми. И да, за потрясающие виды из окна доплачивать не придётся.',
              img: 'hostel-1.jpg'
            })
        section.section.bg-light#floor-3
          .container: .row: .col-xl-10.mx-auto
            h2.mb-40.js-reveal Третий этаж
            img.d-block.w-100.mb-30.mb-md-70.js-reveal(src="./img/img_width-10.jpg" alt="")
            h3.mb-25.mb-md-50.js-reveal Йога на крыше
            .row.js-reveal
              .col-md-6: p.
                В тёплое время года занятия йогой проводятся под открытым небом, как это часто делают в Индии. 
              .col-md-6: p.
                Под лёгкий ветерок из соснового леса и щебетание птиц.
        .section: .container: .row: .col-xl-10.mx-auto
          .h1.js-reveal Место, где появляются новые друзья по интересам.
        img.d-block.w-100.js-reveal(src="./img/img_width-11.jpg" alt="")
        +block-next({
          title: 'Стоимость проживания',
          text: 'Узнайте о стоимости аренды домов в «Атме» и включённых в неё услугах. ',
          link: './price.html'
        })
    +subs
    +footer({
      menu: [
        {
          text: 'О поселке ',
          href: './'
        },
        {
          text: 'Жизнь',
          href: './life.html'
        },
        {
          text: 'Коворкинг',
          href: './coworking.html'
        },
        {
          text: 'Здоровье',
          href: './health.html'
        },
        {
          text: 'Сообщество',
          href: './community.html'
        },
        {
          text: 'Детям',
          href: './forkids.html'
        },
        {
          text: 'Отель',
          href: './hotel.html',
          active: true
        },
        {
          text: 'Стоимость',
          href: './price.html'
        }
      ]
    })
