extends ../templates/template.pug
block content
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title Atma
    link(rel='shortcut icon', type='image/png', href='./img/favicon.png')
    link(rel='stylesheet', href='css/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(name="format-detection", content="telephone=no")
  body
    +header({
      menu: [
        {
          text: 'О поселке ',
          href: './',
          active: true
        },
        {
          text: 'Жизнь',
          href: './life.html'
        },
        {
          text: 'Коворкинг',
          href: './coworking.html'
        },
        {
          text: 'Здоровье',
          href: './health.html'
        },
        {
          text: 'Сообщество',
          href: './community.html'
        },
        {
          text: 'Детям',
          href: './forkids.html'
        },
        {
          text: 'Отель',
          href: './hotel.html'
        },
        {
          text: 'Стоимость',
          href: './price.html'
        }
      ],
      anchors: [
        {
          text: 'Концепция',
          href: '#concept'
        },
        {
          text: 'Ценности',
          href: '#worth'
        },
        {
          text: 'Дома',
          href: '#houses'
        },
        {
          text: 'Как добраться',
          href: '#way'
        },
        {
          text: 'План поселка',
          href: '#plan'
        },
        {
          text: '',
          href: '#block-next'
        }
      ]
    }).header--index
    +menu-popup({
      title: 'О посёлке',
      links: [
        {
          text: 'Концепция',
          href: '#concept'
        },
        {
          text: 'Ценности',
          href: '#worth'
        },
        {
          text: 'Дома',
          href: '#houses'
        },
        {
          text: 'Как добраться',
          href: '#way'
        },
        {
          text: 'План поселка',
          href: '#plan'
        }
      ],
      imgs: ['menu-1.jpg','menu-2.jpg','menu-3.jpg','menu-4.jpg','menu-5.jpg']
    })
    main
      +front.js-parallax-index
      .bg-white.position-relative
        +case({
          number: '01/08',
          title: 'О посёлке',
          text: 'В 30 км от МКАД по Волоколамскому шоссе мы строим посёлок здорового пространства. В нём живут открытые творческие люди, для которых быть «вне системы» ー это норма.',
          img: 'img_p-1.jpg',
          next: '#concept'
        }).flex-column-reverse
        section.section#concept: .container: .row: .col-xl-10.mx-auto
          h2.mb-50.js-reveal Концепция
          +block_4({
            items: [
              {
                img: 'img_i-1.jpg',
                title: 'Коливинг — тип жилья будущего',
                text: 'Когда мир стал мобильным, распространился подход «используй не владея». Человек мира переезжает легко, поэтому вместо покупки дома выбирает аренду.<br>Коливинг ー модель сообщества XXI века.'
              },
              {
                img: 'img_i-2.jpg',
                title: 'Сообщество близких по духу людей',
                text: 'Жители посёлка ー друзья и единомышленники, которые общаются, обмениваются опытом, дополняют и усиливают друг друга. Это осознанное сообщество взаимопомощи и поддержки.'
              },
              {
                img: 'img_i-3.jpg',
                title: 'Жизнь на природе',
                text: 'Мы хотим напомнить жителям городов о ярких звёздах, туманных закатах и ясных рассветах. Даём прочувствовать, насколько заряжает энергией жизнь в единстве с природой.'
              },
              {
                img: 'img_i-4.jpg',
                title: 'Радость живого общения',
                text: 'Во всех домах посёлка панорамные окна в пол, а на участках нет заборов, потому что мы считаем мир дружелюбным. <br>В век интернет-общения мы зовём соседей в гости «потереться душами» за вечерним чаем на террасе.'
              }
            ]
          })
          .h1.mb-50.js-reveal Жизнь безумно красива, когда начинаешь её замечать.
        img.d-block.w-100.js-reveal(src="./img/img_width-1.jpg" alt="")
        section.section#worth.js-reveal: .container: .row: .col-xl-10.mx-auto: .row
          .col-12: h2.mb-30.mb-md-60 Ценности
          .col-md-6.mr-auto.pb-30.pb-md-60: img(src="./img/img_worth-1.jpg" alt="")
          .col-md-6.col-lg-5
            h3.mb-25.
              Приглашаем присоединиться 
              к нашему сообществу, если вы разделяете эти ценности:
            p.
              — семья, честность
              <br>
              — детское образование «вне системы»
              <br>
              — желание менять мир и делать его добрее
              <br>
              — саморазвитие, духовность, ЗОЖ
              <br>
              — добрососедство
              <br>
              — желание делиться знаниями, навыками
              <br>
              — бережное отношение к природе
        section.section.bg-light.position-relative.pt-60.pb-20.pb-sm-45#houses
          .container.js-reveal: .row: .col-xl-10.mx-auto: h2.mb-30.mb-d-50 Дома
          +slider({
            items: [
              {
                img: 'slider-1.jpg',
                text: 'Типовые ДубльДома с панорамным остеклением ー уютные, тёплые и надёжные. Жилая площадь ー 25 м²или 77 м², на выбор. '
              },
              {
                img: 'slider-2.jpg',
                text: 'Эти дома созданы для мечтателей. Поток тёплого дневного света ー залог хорошего настроения в любой сезон.'
              },
              {
                img: 'slider-3.jpg',
                text: 'Современная загородная жизнь должна быть удобной. В доме есть всё необходимое.'
              },
              {
                img: 'slider-4.jpg',
                text: 'Теперь ваше жилое пространство не ограничивается стенами, а плавно перетекает в природный ландшафт.'
              },
              {
                img: 'slider-4-2.jpg',
                text: 'Здесь всегда комфортно. Отопление ー дровяная печь и электричество. Стеклопакеты сохраняют тепло и отражают лишнее излучение летом.'
              }
            ]
          })
        #way.js-reveal
          +way
        #plan
          +drag
        +block-next({
          title: 'Жизнь в поселке',
          text: 'Жить в поселке можно круглый год, а в город ездить только иногда. Узнайте об этом подробнее.',
          link: './life.html'
        })
    +subs
    +footer({
      menu: [
        {
          text: 'О поселке ',
          href: './',
          active: true
        },
        {
          text: 'Жизнь',
          href: './life.html'
        },
        {
          text: 'Коворкинг',
          href: './coworking.html'
        },
        {
          text: 'Здоровье',
          href: './health.html'
        },
        {
          text: 'Сообщество',
          href: './community.html'
        },
        {
          text: 'Детям',
          href: './forkids.html'
        },
        {
          text: 'Отель',
          href: './hotel.html'
        },
        {
          text: 'Стоимость',
          href: './price.html'
        }
      ]
    })
