extends ../templates/template.pug
block content
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title Жизнь
    link(rel='shortcut icon', type='image/png', href='./img/favicon.png')
    link(rel='stylesheet', href='css/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(name="format-detection", content="telephone=no")
  body
    +header({
      menu: [
        {
          text: 'О поселке ',
          href: './'
        },
        {
          text: 'Жизнь',
          href: './life.html',
          active: true
        },
        {
          text: 'Коворкинг',
          href: './coworking.html'
        },
        {
          text: 'Здоровье',
          href: './health.html'
        },
        {
          text: 'Сообщество',
          href: './community.html'
        },
        {
          text: 'Детям',
          href: './forkids.html'
        },
        {
          text: 'Отель',
          href: './hotel.html'
        },
        {
          text: 'Стоимость',
          href: './price.html'
        }
      ],
      anchors: [
        {
          text: 'Образ жизни',
          href: '#life'
        },
        {
          text: 'Инфраструктура',
          href: '#infrastructure'
        },
        {
          text: 'Достопримечательности',
          href: '#worth'
        },
        {
          text: '',
          href: '#block-next'
        }
      ]
    })
    +menu-popup({
      title: 'Жизнь',
      links: [
        {
          text: 'Образ жизни',
          href: '#life'
        },
        {
          text: 'Инфраструктура',
          href: '#infrastructure'
        },
        {
          text: 'Достопримечательности',
          href: '#worth'
        }
      ],
      imgs: ['menu-life-1.jpg', 'menu-life-2.jpg', 'menu-life-3.jpg']
    })
    main
      +case({
        number: '02/08',
        title: 'Жизнь',
        text: 'Избавьтесь от шума и суеты большого города. Атма рекомендует вернуться к истокам.',
        img: 'img_p-2.jpg',
        next: '#life'
      }).js-parallax
      .bg-white.position-relative
        section.section#life
          .container: .row: .col-xl-10.mx-auto
            h2.mb-50.js-reveal Образ жизни
            .row
              .col-md-7.js-reveal: img(src="./img/life-img-1.jpg" alt="")
              .col-md-5.js-reveal
                h3.mb-15.mt-20.mt-md-0 На пути к истокам
                p.
                  Вы замечали, что когда уезжаете за город, то уже не хочется засиживаться допоздна за работой или гаджетами? Организм подстраивается под естественные ритмы природы. Рано ложиться и вставать становится легко.
            .row.section__offset-top.mb-50.mb-md-100.align-items-end
              .col-md-6.mr-auto.js-reveal
                h3.mb-15.mt-20.mt-md-0 Лес вокруг
                p.
                  Дома посёлка окружены вековым сосновым лесом, в котором есть расчищенная тропа. Летом здесь можно собирать грибы, гулять, зимой кататься на лыжах.
              .col-md-5.mt-20.mt-md-0.js-reveal: img(src="./img/life-img-2.jpg" alt="")
            .h1.mb-50.mb-md-80.js-reveal.
              Воссоединение с природой — 
              восстановление естественного
              биоритма.
          img.d-block.w-100.mb-50.mb-md-100.js-reveal(src="./img/img_width-2.jpg" alt="")
          .section: .container: .row: .col-xl-10.mx-auto: .row
            .col-md-5.mb-30.mb-sm-0
              img(src="./img/life-img-3.jpg" alt="").mb-30.mb-md-50.js-reveal
              .js-reveal
                h3.mb-20 Достижение гармонии
                p.
                  В посёлке всё направлено на то, чтобы избавить жителей от стресса: чистый воздух, ретрит-центр, образовательный центр, доброе общение и всё необходимое для комфортной жизни.
            .col-md-7
              img(src="./img/life-img-4.jpg" alt="").mb-30.mb-md-50.js-reveal
              .pl-lg-100.js-reveal
                h3.mb-20 Общение с природой
                p.
                  В наших силах передать детям любовь к природе и животным. Показать, как бережно использовать ресурсы, потребляя их разумно и сортируя отходы.
          .section.bg-light.section--slider
            +slider({
              items: [
                {
                  img: 'slider-5.jpg'
                },
                {
                  img: 'slider-6.jpg'
                },
                {
                  img: 'slider-7.jpg'
                },
                {
                  img: 'slider-8.jpg'
                },
                {
                  img: 'slider-9.jpg'
                },
                {
                  img: 'slider-10.jpg'
                },
                {
                  img: 'slider-11.jpg'
                }
              ]
            }).slider--img
          .section: .container: .row: .col-xl-10.mx-auto
            +block({
              title: 'Занимайтесь сельским хозяйством и фермерством',
              text: 'На специально отведённой территории можно выращивать овощи и цветы. Вы также можете взять на себя заботу о живом уголке (куры, козы) и вместе с детьми ухаживать за животными.',
              img_1: 'img-life-5.jpg',
              img_2: 'img-life-6.jpg',
            })
            .h1.mt-60.mt-md-120.js-reveal Воссоединение с природой — восстановление естественного биоритма.
        section.section.bg-light#infrastructure
          .container: .row: .col-xl-10.mx-auto
            h2.mb-40.js-reveal Инфраструктура
            +block_metro({
              item_1: {
                title: 'Магазин',
                text: 'Сельский магазин расположен в 4 км от посёлка, «Пятёрочка» в 9 км, «Перекрёсток»  в 12 км. В 30 км есть гипермаркеты «Лента»  и «Леруа Мерлен». Небольшой магазин  с продуктами и предметами первой необходимости откроется в «Атме» в 2020 году.',
                img_1: 'shop-1.jpg',
                img_2: 'shop-2.jpg'
              },
              item_2: {
                title: 'Парковка для жителей и гостей',
                text: 'У въезда на территорию посёлка есть асфальтированная парковка для жителей и гостей. ',
                img: 'parking-1.jpg'
              },
              item_3: {
                title: 'Железнодорожная станция',
                text: 'Ближайшие железнодорожные станции Рижского направления ー  Снегири и Миитовская расположены в 10 км.',
                img: 'train-1.jpg'
              }
            })
            +block_1({
              title: 'Спортивная площадка и стадион',
              text: 'В посёлке в 2020 году будет построена площадка с тренажёрами на открытом воздухе, площадка для волейбола, баскетбола, футбольное поле. Для детей ー верёвочный городок и игровой комплекс. В 20 минутах езды на машине ー в доме отдыха Снегири работает оздоровительный  спорткомплекс с бассейном на 4 дорожки по 25 м и детский бассейн.',
              img: 'sport-1.jpg'
            })
        section.section#worth
          .container: .row: .col-xl-10.mx-auto
            h2.mb-25.mb-md-50.js-reveal Достопримечательности
            .h4.mb-40.mb-md-90.js-reveal.
              Если вам захочется осмотреть местные достопримечательности, 
              недалеко от нас находится <a href="http://www.savvastor.ru/" target="_blank" class="text-secondary">Саввино-Сторожевский монастырь</a>, <a href="https://njerusalem.ru/" target="_blank" class="text-secondary">музей «Новый Иерусалим»</a>, <a href="http://xn-----elcdibbcrddcndjh3agbbt3csh9c.xn--p1ai/" target="_blank" class="text-secondary">Ленино-Снегирёвский военно-исторический музей</a> и <a href="http://hramrozhdestva.ru/" target="_blank" class="text-secondary">Храм Рождества Христова</a>.
            .h1.mb-80.js-reveal Наполните жизнь чистым воздухом, естественным светом в окружении природы.
          img.d-block.w-100.js-reveal(src="./img/img_width-3.jpg" alt="")
        +block-next({
          title: 'Коворкинг в поселке',
          text: 'Когда нужно спокойно поработать, <br>приходите в коворкинг.',
          link: './coworking.html'
        })
    +subs
    +footer({
      menu: [
        {
          text: 'О поселке ',
          href: './'
        },
        {
          text: 'Жизнь',
          href: './life.html',
          active: true
        },
        {
          text: 'Коворкинг',
          href: './coworking.html'
        },
        {
          text: 'Здоровье',
          href: './health.html'
        },
        {
          text: 'Сообщество',
          href: './community.html'
        },
        {
          text: 'Детям',
          href: './forkids.html'
        },
        {
          text: 'Отель',
          href: './hotel.html'
        },
        {
          text: 'Стоимость',
          href: './price.html'
        }
      ]
    })
