extends ../templates/template.pug
block content
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title Стоимость
    link(rel='shortcut icon', type='image/png', href='./img/favicon.png')
    link(rel='stylesheet', href='css/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(name="format-detection", content="telephone=no")
  body
    +header({
      menu: [
        {
          text: 'О поселке ',
          href: './'
        },
        {
          text: 'Жизнь',
          href: './life.html'
        },
        {
          text: 'Коворкинг',
          href: './coworking.html'
        },
        {
          text: 'Здоровье',
          href: './health.html'
        },
        {
          text: 'Сообщество',
          href: './community.html'
        },
        {
          text: 'Детям',
          href: './forkids.html'
        },
        {
          text: 'Отель',
          href: './hotel.html'
        },
        {
          text: 'Стоимость',
          href: './price.html',
          active: true
        }
      ]
    })
    main
      +case({
        number: '08/08',
        title: 'Стоимость',
        text: 'Коливинг ー это модель сообщества, где люди не задерживаются навсегда. Дома нельзя купить, можно только снять. У нас существует два арендных плана: краткосрочный (от 1 суток) и долгосрочный (от 6 месяцев).',
        img: 'img_p-8.jpg',
        next: '#next'
      }).js-parallax
      .bg-white.position-relative
        section.section: .container: .row: .col-xl-10.mx-auto
          .row.mb-md-60
            .col-md-6.pb-30
              .js-reveal
                h2.mb-10 Краткосрочная аренда
                p.mb-30 От 1 суток до 6 месяцев
                h3.mb-20 Дом 77m2
                p.mb-30.
                  В будни ー 8000 руб. в сутки
                  <br>
                  В выходные ー 12000 руб. в сутки
              .js-reveal
                h3.mb-20 Дом 25m2
                p.mb-30.
                  В будни ー 4000 руб. в сутки
                  <br>
                  В выходные ー 6000 руб. в сутки
              .border-top.pt-25.pt-md-50.js-reveal
                h3.mb-20 В стоимость входит
                p.
                  Электроэнергия <br>
                  Коммунальные платежи <br>
                  Вывоз снега <br>
                  Вывоз мусора <br>
                  Охрана <br>
                  Ремонтные работы <br>
                  Ежедневная уборка <br>
                  Дрова для печи <br>
                  Одно парковочное место для автомобиля, около дома
            .col-md-6.pb-30
              .js-reveal
                h2.mb-10 Долгосрочная аренда
                p.mb-30 от 6 месяцев и дольше
                h3.mb-20 Дом 77m2
                p.mb-30 100 000 руб. в месяц
              .border-top.pt-25.pt-md-50.js-reveal
                h3.mb-20 В стоимость входит
                p.mb-25.mb-md-50.
                  Коммунальные платежи <br>
                  Вывоз снега <br>
                  Вывоз мусора <br>
                  Охрана <br>
                  Ремонтные работы <br>
                  Уборка раз в неделю <br>
                  Одно парковочное место для автомобиля, около дома
                h3.mb-20 В стоимость не входит
                p.mb-30 Электроэнергия
                p.
                  Всем проживающим предоставляются скидки на услуги коворкинга, детского сада, школы
          .h1.js-reveal Дайте своему разуму возможность работать в чистом пространстве.
        img.d-block.w-100.js-reveal(src="./img/img_width-12.jpg" alt="")
        section.section: .container: .row: .col-xl-10.mx-auto
          h2.mb-30.mb-md-70.js-reveal Вопросы и ответы
          .row.mb-md-60.js-reveal
            .col-md-6.pb-25.pb-md-50
              h3.mb-20 Нужно ли везти с собой мебель, посуду, полотенца и т.д.?
              p.
                Дома укомплектованы мебелью, постельными принадлежностями, посудой на 6 персон. Есть стиральная машина.
            .col-md-6.pb-25.pb-md-50
              h3.mb-20 Можно ли приезжать с домашними животными?
              p.
                Да, если вы будете убирать за ними общественную территорию.
            .col-md-6.pb-25.pb-md-50
              h3.mb-20 Есть ли в посёлке интернет?
              p.
                Да, мобильная связь и интернет Tele2 здесь работает лучше остальных операторов. В коворкинге доступен Wi-Fi.
          .border-top.pt-35.pt-md-90
            h2.mb-20.mb-md-40.js-reveal Контактная информация
            .row.js-reveal
              .col-md-6.pb-30
                h3.mb-20 Олег Соболев
                p.
                  Управляющий партнёр Atma и основатель Дубльдомово 
                  <span class="nobr">+7 (985) 761-30-38</span> (WhatsApp, Telegram) 
              .col-md-6.pb-30
                h3.mb-20 Дмитрий Волков
                p.
                  Управляющий партнёр Atma, житель Дубльдомово Снегири
                  <span class="nobr">+7 (903) 016-91-87</span> (WhatsApp, Telegram)
          .border-top.border-bottom.py-30.mb-30.mb-md-50.js-reveal
            .row
              .col-sm-6: p.
                Еmail: <a class="text-secondary" href="mailto:privet@atma.land">privet@atma.land</a>
              .col-sm-6: p.
                Instagram: <a class="text-secondary" target="_blank" href="https://www.instagram.com/dubldomovo_snegiri/">Ddubldomovo_snegiri </a>
          .block-next
            .block-next__content.border-bottom: .row
              .col-lg-4.mr-auto.pb-30.js-reveal: h2.h1 Остались вопросы?
              .col-lg-6.block-next__text.js-reveal
                h2.mb-25 Напишите нам
                form(name="order").js-submit
                  input(name="form" hidden value="АТМА. Форма: Напишите нам")
                  .form-group.mb-30
                    input.form-control#name-input2(name="name" type="text" placeholder=" " required)
                    label(for="name-input2") Имя  
                  .form-group.mb-30
                    input.form-control#email-input3(name="email" type="email" placeholder=" " required)
                    label(for="email-input3") Email
                  .form-group.mb-30
                    input.form-control.js-masked-tel#phone-input2(name="tel" type="tel" placeholder=" " required)
                    label(for="phone-input2") Номер телефона
                  .custom-control.custom-checkbox.mb-30
                    input.custom-control-input#cond2(type="checkbox" name="cond" checked required)
                    label.custom-control-label(for="cond2").
                      Подтверждаю свое <a href="javascript:;" data-fancybox data-src="#modal-rules" data-touch="false" data-base-class="fancybox--full" class="text-secondary">согласие на обработку персональных данных</a>
                  button(type="submit").btn.btn-outline-dark.px-60 Отправить

    +subs
    +footer({
      menu: [
        {
          text: 'О поселке ',
          href: './'
        },
        {
          text: 'Жизнь',
          href: './life.html'
        },
        {
          text: 'Коворкинг',
          href: './coworking.html'
        },
        {
          text: 'Здоровье',
          href: './health.html'
        },
        {
          text: 'Сообщество',
          href: './community.html'
        },
        {
          text: 'Детям',
          href: './forkids.html'
        },
        {
          text: 'Отель',
          href: './hotel.html'
        },
        {
          text: 'Стоимость',
          href: './price.html',
          active: true
        }
      ]
    })
