mixin front(data)
  .front&attributes(attributes): .container.front__content
    .front__middle
      .front__logo.js-reveal-interval: img(src='./img/logo-front.svg' alt="ATMA")
      .front__title.js-reveal-interval Новый образ жизни
    .front__bottom: .container.d-flex.align-items-center.position-relative.justify-content-md-end.justify-content-center
      a.front__video-icon(href="https://www.youtube.com/watch?v=QDYoS-_VHsE" data-fancybox data-touch="false" data-base-class="fancybox--video")
        span.d-none.d-sm-inline-block Смотреть видео
        span.front__play-icon
      a.front__video(href="https://youtu.be/QDYoS-_VHsE" data-fancybox data-touch="false" data-base-class="fancybox--video")
        video(width="200" height="125" autoplay loop muted)
          source(src="./img/video.mp4" type="video/mp4")
    
