.front {
  padding-top: 170px;
  height: 100vh;
  min-height: 560px;
  background-image: url(../img/front.jpg);
  background-position: center bottom;
  background-size: cover;

  @include media-breakpoint-down(md) {
    padding-top: 0;
    height: 560px;
  }

  &__middle {
    margin: auto 0;
    width: 100%;
    text-align: center;
  }

  &__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    padding-top: 60px;
    font-size: 28px;
    color: #fff;

    @include media-breakpoint-down(sm) {
      padding-top: 30px;
    }
  }

  &__bottom {
    padding-bottom: 40px;
    width: 100%;
  }

  &__video {
    overflow: hidden;

    video {
      object-fit: cover;
    }
  }

  &__video-icon {
    margin-right: -19px;
    display: flex;
    width: 190px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 17px;
    font-weight: 500;
    color: #fff;

    @include transition;

    @include media-breakpoint-down(sm) {
      width: 125px;
    }

    @include media-breakpoint-down(xs) {
      width: auto;
    }

    &:hover {
      color: #fff;

      span {
        opacity: .6;

        @include transition;
      }

      .front__play-icon {
        opacity: 1 !important;
        box-shadow: 0 0 0 8px rgba(255, 255, 255, .6);
      }
    }
  }

  &__play-icon {
    position: relative;
    width: 38px;
    height: 38px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 8px rgba(255, 255, 255, .41);

    @include transition;

    &:after {
      position: absolute;
      top: calc(50% - 6px);
      left: calc(50% - 4px);
      display: block;
      width: 10px;
      height: 12px;
      content: '';
      background: transparent
        url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAMCAYAAABbayygAAAAa0lEQVQoU42R4Q1AUAyEv7cpG7ABGxiFDYzCBkxAKppoo83r3/t6vVwLMAMdsJFMAS7gACZgjFgFVRfXFlj9ggdVlzj9N04EyoKJk4EmTg24A00Gnm8Tg1hH4OK79eBzJqvHnPkrXRyrXngD1KcgjaG+zmQAAAAASUVORK5CYII=)
        0 0 no-repeat;
    }
  }

  &__logo {

    img {

      @include media-breakpoint-down(md) {
        max-width: 50%;
      }

      @include media-breakpoint-down(sm) {
        max-width: 70%;
      }
    }
  }
}
