mixin menu-popup(data)
  .d-none: #menu-popup: .menu-popup&attributes(attributes)
    .container: .row
      .col-xl-10.mx-auto: .row.no-gutters: .col-md-6.pl-lg-60.pl-xl-0
        .h1.mb-20.text-center.text-md-left !{data.title}
        .d-flex.flex-column.align-items-center.align-items-md-start
          for link,index in data.links
            +link-menu({
              text: link.text,
              href: link.href,
              num: index+1
            })
    .menu-popup__slide-wrap.d-none.d-md-block
      for img,i in data.imgs
        .menu-popup__img(class=(i===0)?'is-active':''
          style=`background-image: url(./img/${img})`)
