.menu-popup {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;

  &__slide-wrap {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 50%;
    height: 100%;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    animation-name: imgHide;
    animation-duration: .35s;
    animation-timing-function: ease;
    animation-fill-mode: both;

    &.is-active {
      visibility: visible;
      animation-name: imgShow;
      animation-duration: .35s;
      animation-timing-function: ease;
      animation-delay: .2s;
      animation-fill-mode: both;
    }
  }

  .h1 {

    @include media-breakpoint-down(sm) {
      font-size: 36px;
    }
  }
}

@keyframes imgHide {

  to {
    opacity: 0;
    //    transform: translateY(-20%);
  }
}

@keyframes imgShow {

  from {
    opacity: 0;
    //    transform: translateY(20%);
  }

  to {
    opacity: 1;
    //    transform: translateY(0);
  }
}
