.block {

  &__offset-top {
    margin-top: 60px;

    @include media-breakpoint-down(md) {
      margin-top: 40px;
    }

    img {
      margin-top: -135px;

      @include media-breakpoint-down(md) {
        margin-top: 0;
      }
    }
  }

  &__offset-top-1 {
    margin-top: 70px;

    @include media-breakpoint-down(md) {
      margin-top: 40px;
    }

    img {
      margin-top: -185px;

      @include media-breakpoint-down(md) {
        margin-top: 0;
      }
    }
  }

  &--1 {
    margin-top: 100px;

    @include media-breakpoint-down(md) {
      margin-top: 40px;
    }
  }
}
