mixin block(data)
  .block&attributes(attributes)
    .row
      .col-md-5.mr-auto.d-flex.flex-column
        h3.mb-25.js-reveal !{data.title}
        p.mb-30.js-reveal !{data.text}
        img.mt-auto.js-reveal(src=`./img/${data.img_1}` alt="")
      .col-md-6.mt-20.mt-md-0.js-reveal: img(src=`./img/${data.img_2}` alt="")
      
mixin block_1(data)
  .block.block--1&attributes(attributes)
    .row
      .col-md-5.mr-auto.js-reveal
        h3.mb-20 !{data.title}
        p !{data.text}
      .col-md-6.mt-20.mt-md-0.js-reveal: img(src=`./img/${data.img}` alt="")
      
mixin block_4(data)
  .block.block--4&attributes(attributes): .row
    for item in data.items
      .col-md-6.pb-25.pb-md-50
        img(src=`./img/${item.img}` alt="").mb-25.mb-md-50.js-reveal
        .js-reveal
          h3.block__min-title.mb-30 !{item.title}
          p !{item.text}
      
mixin block_metro(data)
  .block.block--metro&attributes(attributes)
    .row
      .col-md-5.js-reveal
        h3.mb-20 !{data.item_1.title}
        p.mb-30.mb-md-70 !{data.item_1.text}
        img(src=`./img/${data.item_1.img_1}` alt="")
      .col-md-7.mt-20.mt-md-0.js-reveal: img(src=`./img/${data.item_1.img_2}` alt="")
    .row.block__offset-top
      .col-md-6.mr-auto.js-reveal
        h3.mb-20 !{data.item_2.title}
        p.mb-30 !{data.item_2.text}
      .col-md-5.js-reveal: img(src=`./img/${data.item_2.img}` alt="")
    .row.block__offset-top-1
      .col-md-7.js-reveal: img(src=`./img/${data.item_3.img}` alt="")
      .col-md-5.mt-20.mt-md-0.js-reveal
        h3.mb-20 !{data.item_3.title}
        p !{data.item_3.text}
