.menu {
  margin: 0;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  @include media-breakpoint-down(lg) {
    width: 100%;
    justify-content: space-between;
  }

  &__item {
    margin-right: 30px;

    @media screen and (max-width: 1300px) {
      margin-right: 25px;
    }

    @include media-breakpoint-down(lg) {
      margin-right: 10px;
    }

    @include media-breakpoint-down(md) {
      margin-right: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    & + & {

      @include media-breakpoint-down(md) {
        margin-top: 10px;
      }
    }
  }

  &__link {
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
    color: #000;
    transition: $transition-base;

    &:hover {
      opacity: .6;
      color: #000;
    }

    &.is-active {
      pointer-events: none;
      color: #999;
    }
  }

  &--main {

    @include media-breakpoint-down(md) {
      width: 100%;
      height: 100%;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
    }

    .menu__link {

      @include media-breakpoint-down(md) {
        font-size: 30px;
        line-height: 1.5;
      }

      @include media-breakpoint-down(sm) {
        font-size: 24px;
      }
    }

    .menu__link.is-active {

      @include media-breakpoint-down(md) {
        color: #fff;
      }
    }
  }

  &--footer {

    .menu__item + .menu__item {
      margin-top: 0;
    }
  }
}
