.way {
  position: relative;
  padding-top: 75px;
  overflow: hidden;
  height: 870px;

  @include media-breakpoint-down(lg) {
    padding-top: 50px;
    height: 770px;
  }

  @include media-breakpoint-down(md) {
    padding-top: 40px;
    height: auto;
  }

  &__controls {

    .btn {

      &:last-child {
        display: none;
      }
    }

    &.is-clear {

      .btn {
        display: none;

        &:last-child {
          display: inline-block;
        }
      }
    }
  }

  &__link {
    color: #000;

    @include transition;

    &:hover {
      color: $secondary;
    }
  }

  &__example {
    display: none;

    &.show {
      display: block;
    }
  }

  &__text {
    display: none;

    &.show {
      display: block;
    }
  }

  &__map {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;

    @include media-breakpoint-down(md) {
      position: relative;
      width: 100%;
      height: 360px;
    }
  }

  .route-balloon {
    position: relative;
    top: -95px;
    left: -100px;
    padding: 4px 10px;
    display: inline-block;
    width: 200px;
    height: 75px;
    font-family: $font-family-base;
  }

  .inner-balloon {
    padding: 10px;
    text-align: center;
    color: #525663;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, .1) 0 0 5px;

    .line {
      margin: 10px 0;
      width: 100%;
      height: 1px;
      opacity: .1;
      background-color: #525663;
    }

    .title {
      font-weight: 500;
    }
  }

  .triugol-balloon {
    position: absolute;
    bottom: -32px;
    left: 88px;
    border: 12px solid transparent;
    border-top: 12px solid #fff;
  }

  [class*='ymaps-2'][class*='-ground-pane'] {
    -webkit-filter: grayscale(100%);
  }
}
