mixin way(data)
  .
    <script src="https://api-maps.yandex.ru/2.1/?apikey=b1ce67ee-bf3a-4ca0-91dd-219daceac230&amp;lang=ru_RU&onload=initWay&amp;ver=5.2.4"></script>
  .way.routeSlide(data-longitude="55.93179" data-latitude="37.05508" data-routepointa="МКАД, 68-й километр")&attributes(attributes)
    //script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&onload=initWay" async)
      
    .container: .row: .col-xl-10.mx-auto: .row
      .col-lg-6.col-xl-5.pr-md-30
        h2.mb-30.mb-md-60 Как добраться
        form(name="route")#searchRouteForm.row
          .col-sm.col-lg.pb-20
            .form-group
              input.form-control#searchRouteItput(name="address" type="text" placeholder=" " minlength=5 value="МКАД, 68-й километр")
              label(for="searchRouteItput") Адрес
          .col-sm-auto.pb-20.way__controls
            button.btn.btn-outline-dark.w-100#clearRoutButton(type="button") Очистить
            button.btn.btn-outline-dark.w-100#makeRoutButton Показать маршрут
        p#routeSampleB.way__example. 
          Пример:
          <span class="links">
            <a href="#" class="way__link">Одинцово</a>,
            <a href="#" class="way__link">Красногорск</a>,
            <a href="#" class="way__link">Химки</a>,
            <a href="#" class="way__link">Зеленоград</a>
          </span>
        #timeRouteBox.way__text.show.pb-30
          p#timeRouteBoxDesc.mb-25.mb-md-50.
            
          .way__foot
            h3.mb-20 На общественном транспорте
            p#routeDescriptionBox.
              С Рижского вокзала или м. Тушино до станции Снегири. Затем на автобусе № 44 до деревни Хованское (конечная). От неё 800 метров пешком по асфальтированной дороге. Интервал отправления автобусов ー 30-40 мин.
    .way__map#routeMap
        
