.header {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, .15);

  @include media-breakpoint-down(md) {
    position: sticky;
    z-index: 100;
    top: 0;
  }

  &__row {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;

    @include media-breakpoint-down(md) {
      height: 60px;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    .btn-outline-dark {
      flex-basis: 200px;

      @include media-breakpoint-down(lg) {
        padding-right: 5px;
        padding-left: 5px;
        flex-basis: 150px;
      }

      @include media-breakpoint-down(md) {
        flex-basis: 150px;
      }
    }
  }

  &__nav {
    padding-right: 30px;
    padding-left: 30px;

    @include media-breakpoint-down(lg) {
      padding-right: 30px;
      padding-left: 30px;
      flex-grow: 1;
    }

    @include media-breakpoint-down(md) {
      padding-right: 0;
      padding-left: 0;
      display: none;
      width: 100%;
      height: 100%;
      justify-content: center;
      order: 1;
    }
  }

  &__menu-controls {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 40px;
    padding-left: 40px;
    display: none;

    @include transition;

    &:hover {
      opacity: .6;
    }

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__logo {

    @include media-breakpoint-down(md) {
      margin-right: auto;
    }

    img {
      display: block;

      @include media-breakpoint-down(md) {
        max-height: 20px;
      }
    }
  }

  &--index {
    position: relative;
    z-index: 10;
    top: 0;
    left: 0;
    margin-bottom: -100px;
    background-color: transparent;
    box-shadow: none;

    @include media-breakpoint-down(md) {
      position: sticky;
      z-index: 100;
      margin-bottom: 0;
      background-color: #fff;
      box-shadow: 0 0 4px rgba(0, 0, 0, .15);
    }
  }

  &.is-sticky {
    position: sticky !important;
    z-index: 100;
    top: 0;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .15);
    animation-name: headerShow;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;

    .header__menu-controls {
      display: flex;
      flex-direction: column;
      background: transparent;

      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }

  .container {
    padding-right: 40px;
    padding-left: 40px;

    @include media-breakpoint-down(lg) {
      padding-right: 10px;
      padding-left: 10px;
    }
  }
}

@keyframes headerShow {

  from {
    opacity: 0;
    transform: translatey(-100%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
