mixin header(data)
  header#header.header&attributes(attributes)
    .container.position-relative
      .header__row
        button.btn.btn--menu.d-lg-none.mr-10.mr-sm-30(data-fancybox data-src="#menu" data-touch="false" data-base-class="fancybox--menu")
        a(href="./").header__logo: img(src="./img/logo.svg" alt="ATMA")
        nav.header__nav#menu.d-lg-flex: +menu({links: data.menu}).menu--main
        a.btn.btn-outline-dark(href="javascript:;" data-fancybox data-src="#modal-order" data-touch="false" data-base-class="fancybox--full") Хочу здесь жить
      if data.anchors
        button.header__menu-controls(data-fancybox data-src="#menu-popup" data-touch="false" data-base-class="fancybox--menu")
          .btn.btn--menu
          +anchors({
            anchors: data.anchors
          })
