.case {
  position: relative;
  background-color: $light;

  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
    //    flex-direction: column-reverse;
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    //    @include media-breakpoint-down(sm) {
    //      opacity: .2;
    //    }
  }

  &__content {
    padding-top: 100px;
    padding-right: 40px;
    padding-bottom: 80px;
    display: flex;
    min-height: calc(100vh - 100px);
    flex-direction: column;

    @include media-breakpoint-down(md) {
      padding-top: 30px;
      padding-right: 0;
      padding-bottom: 30px;
      min-height: 0;
    }
  }

  &__text {
    margin-bottom: auto;
  }

  &__number {
    margin-bottom: 60px;
    font-weight: 500;

    //    @include media-breakpoint-down(md) {
    //      margin-bottom: 40px;
    //    }

    //    @include media-breakpoint-down(sm) {
    //      margin-bottom: 30px;
    //    }
  }

  &__img-wrap {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;

    @include media-breakpoint-down(md) {
      position: static;
      width: 100%;
      min-height: 400px;
    }

    @include media-breakpoint-down(sm) {
      min-height: 200px;
    }
  }
}
