mixin case(data)
  .case&attributes(attributes)
    .case__img-wrap.js-reveal: .case__img(style=`background-image: url(./img/${data.img})`)
    .container.js-reveal: .row: .col-xl-10.mx-auto: .row: .col-lg-6
      .case__content
        .case__number= data.number
        .case__text
          h1.mb-20 !{data.title}
          h4.mb-20.mb-sm-40 !{data.text}
        a(href=data.next).js-go-block.d-none.d-lg-inline-block: img(src="./img/arrow-down.svg" alt="")
    
